@charset "utf-8";

body {
    font-size: 16px;
    line-height: 1.5;
    font-family:  "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}

#header {
    height: 655px;
    background-image: url(../../psd/header_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 160px;
    position: relative;
    padding: 10px 10px 66px 10px;
    box-sizing: border-box;
}

#header .inner{
    width: 100%;
    height: 100%;
    border: 10px solid #900;
    box-sizing: border-box;
}

.inner {
    width: 940px;
    height: 500px;
    margin: 0 auto;   
    position: relative;
}
.header-logo {
    position: absolute;
    top: 200px;
    left: 215px;
}
.under-line01 {
    width: 100%;
    height: 47px;
    background-color: #990000;
    position: absolute;
    bottom: 8px;
    left: 0;
}
.under-line02 {
    width: 100%;
    height: 8px;
    background-color: #08193d;
    position: absolute;
    bottom: 0px;
}
.topnav ul{
    width: 620px;
    height: 47px;
    margin: 0 auto;
}
.topnav li {
    list-style-type: none;
    float: left;
}
.nav-about a {
    display: block;
    width: 124px;
    height: 47px;
    background-image: url(../../psd/header_nav.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -9999px;
}
.nav-about a:hover {
    background-position: 0 -47px;
}
.nav-event a {
    display: block;
    width: 124px;
    height: 47px;
    background-image: url(../../psd/header_nav.png);
    background-repeat: no-repeat;
    background-position: -124px 0;
    text-indent: -9999px;
}
.nav-event a:hover {
    background-position: -124px -47px;
}
.nav-news a {
    display: block;
    width: 124px;
    height: 47px;
    background-image: url(../../psd/header_nav.png);
    background-repeat: no-repeat;
    background-position: -248px 0;
    text-indent: -9999px;
}
.nav-news a:hover {
    background-position: -248px -47px;
}
.nav-gallery a {
    display: block;
    width: 124px;
    height: 47px;
    background-image: url(../../psd/header_nav.png);
    background-repeat: no-repeat;
    background-position: -372px 0;
    text-indent: -9999px;
}
.nav-gallery a:hover {
    background-position: -372px -47px;
}
.nav-access a {
    display: block;
    width: 124px;
    height: 47px;
    background-image: url(../../psd/header_nav.png);
    background-repeat: no-repeat;
    background-position: -496px 0;
    text-indent: -9999px;
}
.nav-access a:hover {
    background-position: -496px -47px;
}

/* about */
#about {
    background-image: url(../../psd/about_bg_img.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: ;
    background-size: cover;
    width: 100%;
    height: 1099px;
    position: relative;
}
.border-line01 {
    background-image: url(../../psd/border.png);
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
}
.inner-about {
    width: 940px;
    height: 655px;
    padding-top: 80px;
    margin: 0 auto;
    position: relative;
}
.main-title {
    display: block;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1;
}
.sub {
    width: 180px;
    height: 23px;
    line-height: 23px;
    margin: auto;
}
.sub-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.sub-line {
    width:180px;
    height:4px;
    background:#003399;
    margin:auto;
    margin-bottom: 60px;
}

.about-txt-01 {
    font-size: 20px;
    display: block;
    margin-top: 60px;
    text-align: center;
}

.about-txt-02 {
    font-size: 20px;
    display: block;
    margin-top: 32px;
    text-align: center;
    margin-bottom: 80px;  
}
.about-img01 {
    display: block;
    position: absolute;
    left: 0;
    top: 543px;
    z-index: 2;
}

.about-img02 {
    display: block;
    position: absolute;
    right: 0;
    top: 730px;
    z-index: 1;
    margin-bottom: 40px;
}
.border-line02 {
    background-image: url(../../psd/border.png);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

/* event */
#event {
    background-image: url(../../psd/event_bg_img.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: ;
    background-size: cover;
    width: 100%;
    height: 1048px;
    position: relative;
}
.inner-event {
    width: 940px;
    padding-top: 160px;
    margin: 0 auto;
    position: relative;
}
.event-txt {
    font-size: 20px;
    display: block;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}
.event-list {
    list-style-type: none;
    width: 940px;
    height: 210px;
    margin-bottom: 160px;
}
.event-list li:first-child {
    float: left;
    margin: 0 10px 30px 20px;
}
.event-list li:nth-child(2n) {
    float: left;
    margin: 0 10px 30px 10px;
}
.event-list li:last-child {
    float: left;
    margin: 0 20px 30px 10px;
}
.event-listbox {
    width: 286px;
    height: 210px;
}
.list-title {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 28px;
}
.list-txt01 {
    display: block;
    font-size: 14px;
    margin-bottom: 14px;
}
.list-txt01 span {
    font-size: 12px;
    color: #e02222;
    margin-left: 5px;
}
.list-txt02 {
    display: block;
    font-size: 14px;
}
/* news */
#news {
    background-image: url(../../psd/news_bd_side.png);
    background-repeat: no-repeat;
    -webkit-background-size: ;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 660px;
    position: relative;
}
.border-line02 {
    position: absolute;
    bottom: 0;
}
.news-list {
    width: 780px;
    height: 200px;
    margin: 0px auto;
    padding: 60px 0 45px 0;
}
.inner-news {
    width: 940px;
    padding-top: 120px;
    margin: 0 auto;
    position: relative;
}
.news-list dt {
    float: left;
    clear: both;
    width: 49px;
    height: 49px;
    padding-bottom: 11px;
}
.list-01 dd {
    font-size: 20px;
    line-height: 49px;
    padding: 0px 0 11px 69px;
}
.list-01 {
    border-bottom: 2px solid #003399;
}
.list-02 dd {
    font-size: 20px;
    padding: 0 0 11px 69px;
    line-height: 24px;
}
.list-02 {
    padding-top: 11px;
    border-bottom: 2px solid #003399;
}
.list-03 dd {
   font-size: 20px;
    padding: 0 0 11px 69px;
    line-height: 49px;
}
.list-03 {
    padding-top: 11px;
}
.news-btn {
    width: 466px;
    height: 44px;
    background-color: #900;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 44px;
    border-radius: 5px;
    margin: 0 auto;
}
.news-btn a {
    display: block;
    text-decoration: none;
    color: #fefefe;
}
.news-btn a:active {
    display: block;
    text-decoration: none;
    background-color: #640606;
    border-radius: 5px;
    color: #dedede;
}

/* gallery*/
#gallery {
    width: 100%;
    height: 1228px;
    position: relative;
}
.inner-gallery {
    width: 940px;
    height: 288px;
    padding-top: 160px;
    margin: 0 auto;
    position: relative;
}
.gallery-txt {
    font-size: 20px;
    display: block;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
    line-height: 1.4;
}
.gallery-txt span {
    display: block;
    margin-bottom: 3px;
}
.gallery-img {
    width: 100%;
    height: 741px;
    background-image: url(../../psd/gallery_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}
.list-top {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 63px;
}
.list-top li {
    float: left;
    list-style-type: none;
}
.list-top li:first-child {
    margin: 0 5px 0 35px;
}
.list-top li:nth-child(2){
     margin: 0 5px;
}.list-top li:nth-child(3){
     margin: 0 5px;
}
.list-top li:last-child {
    margin: 0 35px 0 5px;
}
.list-bottom {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 16px;
}
.list-bottom li {
    float: left;
    list-style-type: none;
}
.list-bottom li:first-child {
    margin: 0 5px 0 35px;
}
.list-bottom li:nth-child(2){
     margin: 0 5px;
}.list-bottom li:nth-child(3){
     margin: 0 5px;
}
.list-bottom li:last-child {
    margin: 0 35px 0 5px;
}
.gallery-line {
    background-image: url(../../psd/border.png);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

/*access*/
#access {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    padding-top: 160px;
    position: relative;
}
.inner-access {
    width: 940px;
    overflow: hidden;
    margin: 0 auto;
}
.access-img {
    float: left;
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 160px;
}
.access-txt {
    width: 410px;
    height: 391px;
    font-size: 20px;
    float: right;
    padding-top: 126px;
    padding-left: 10px;
}
.access-txt span {
    font-size: 12px;
}
.access-txt-02 {
    margin-top: 20px;
}

/*footer*/
#footer {
    width: 100%;
    height: 220px;
    background-color: #900;
    position: relative;
}
.inner-footer {
    width: 940px;
    height: 30px;
    margin: 0 auto;
    padding-top: 40px;
}
.footer-logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}
.footer-nav {
    width: 940px;
    height: 30px;
    padding-bottom: 30px;
    text-decoration: none;
}

.footer-nav li {
    float: left;
    list-style-type: none;
    font-size: 20px;
    color: #fff;  
}
.footer-nav li:first-child {
    margin-left: 260px;
    margin-right: 20px;
}
.footer-nav li:nth-child(2),
.footer-nav li:nth-child(3),
.footer-nav li:nth-child(4) {
    margin: 0 20px 0px 20px;
}
.footer-nav li:last-child {
    margin-right: 232px;
    margin-left: 20px;
}
.sns-btn {
    width: 180px;
    height: 32px;
    margin: 0 auto;
}
.sns-btn li {
    list-style-type: none;
    float: left;
}
.sns-btn li:first-child {
    margin: 0 25px 0 45px;
}
.footer-line {
    width: 100%;
    height: 12px;
    background-color: #08193d;
    position: absolute;
    bottom: 0;
}